.head{
    height: 100vh;
    min-height: 500px;
    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header{
    background-image: url("asset/background.jpg");
}

.burger-menu{
    width: 35px;
    text-align: center;
}

.burger-active{
    background-color: white;
}

header h1{
    color: #fff;
}

header p{
    color: #fff;
    margin-bottom: 300px;
}

.background-translucid{
    background: #A8A8A866;
    height: 52px;
    width: 100%;
    align-items: center;
    display: flex;
}

form {
    width: 25%;
    border: none;
    padding: 14px 50px;
    margin-top: 15px;
}

.row1{
    margin-top: 20px;
}

footer {
    padding-top: 45px;
    padding-bottom: 126px;
}

footer img{
    height: 136px;
}

.rounded-0{
    width: 173px;
}
